
body {
    color: rgb(75, 75, 75);
}
body section.page_title { /* Title of page */
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
a.body {
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-weight: bold;
}
a.body:hover {
    text-decoration: underline;
}
a.body:visited {
    color: rgb(75, 75, 75);
}

/* USED FOR 'POSTS.HTML' PAGE */
body section.posts { /* Container for all posts */
    display: flex;
    flex-direction: column;
    margin: 0 80px 20px 80px;
    padding-top: 0;
    justify-content: center;
    align-content: center;
}
.post_block { /* Container for a single post */
    background: white;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 3px;
    box-shadow: gray 0 0 5px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    color: rgb(75, 75, 75);
    
    width: 90%;
    height: 90%;
    max-width: 900px;
}
.post_block:hover {
    margin-left: auto;
    margin-right: auto;
    width: 90.19%;
    box-shadow: gray 0 0 10px;
}

body div.post_block_date { /* Post_block_date */
    margin-left: 10px;
    margin-right: 10px;
}

/* USED FOR STANDALONE POST PAGES */
body.full_post_body {
    margin-top: 100px;
}
div.back_button_container {
    display: flex; justify-content: center;
}
a.back_button {
    background: white;
    padding: 5px;
    border-radius: 4px;
    box-shadow: gray 0 0 5px;
    border: 1px solid rgb(155, 155, 155);
}
a.back_button:visited {
    color: rgb(75, 75, 75);
}
a.back_button:hover {
    box-shadow: gray 0 0 7px;
}

.full_post_block { /* Container for a single post */
    background: rgba(255, 255, 255, 0.7);

    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 3px;
    box-shadow: gray 0 0 5px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    color: rgb(75, 75, 75);
    
    width: 90%;
}
div.post {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11pt;
}

@media screen and (max-width: 720px) {
    body.full_post_body {
        margin-top: 130px;
    }
}


/* Personal Page */
ul.quotes {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}
ul.quotes li {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
ul.quotes li div.quote_source {
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: right;
    padding-right: 0px;
    font-style: italic;
}
